{% extends 'GestionBundle:Default:index.html.twig' %}
{% form_theme formulario 'AdministracionBundle:Form:errores.html.twig' %}

{% block id 'adjudicatario_edit' %}
{% block title %}Modificar el adjudicatario{% endblock %}

{% block contenido %}
    <h2>{{ block('title') }}</h2>
    <div class="limpiar"></div>
    
    <form action="{{ path('adjudicatario_edit', { 'id': id }) }}" method="post" {{ form_enctype(formulario) }} class="formulario_registro_usuario">
        {{ form_errors(formulario) }}
            
        <fieldset>            
            <legend><h3>Datos del adjudicatario</h3></legend>
            
            <div>
                {{ form_errors(formulario.descripcion) }}
                {{ form_label(formulario.descripcion)  }}                
                {{ form_widget(formulario.descripcion, { 'attr': { 'class': 'formulario_input_textarea' } }) }}
            </div>
            
        </fieldset>            
        {{ form_rest(formulario) }}
        <div class="contenedor_administrador_acciones">
            <ul class="administrador_acciones">
                <li>
                    <input class="boton" type="submit" value="Guardar" />
                </li>
                <li>
                    <input type="button" value="Cancelar" class="boton" onclick="window.location='{{ path('adjudicatario_index') }}';"/>               
                </li>
            </ul>
        </div>
    </form>
{% endblock %}
