{% extends '::base.html.twig' %}

{% block stylesheets %}
        {% stylesheets '@UsuarioBundle/Resources/public/css/generico.css' filter='yui_css' %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}
{% endblock %}

{% block header %}
        <nav>
            <ul>
                <li><a href="{{ path('administracion') }}">INICIO</a>
                <li><a href="{{ path('administracion_usuario') }}">USUARIOS</a></li>
                <li><a href="{{ path('expediente_indice') }}">EXPEDIENTES</a></li>
                <li><a href="{{ path('gestion_indice') }}">GESTION</a></li>
                <li><a href="{{ path('expediente_perfil') }}">PERFIL</a></li>
            </ul>
         </nav>
{% endblock %}

{% block body %}
        {% for mensaje in app.session.flashbag.get('info') %}
            <div class="aviso_flash">{{ mensaje }}</div>
        {% endfor %}
            <div class="limpiar"></div>
        {% block contenido %}{% endblock contenido %}
{% endblock %}