<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('bundles/expedientes/css/impresion.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        
        <div id="centrado">
        <label id="encabezado"> 
            GESTOR DE EXPEDIENTES: GESCASA
             - {{ "now"|date("Y") }} -
        </label>
        
        <br/><br/><br/>
        
        <label id="titulo">{{ expediente.titulo|default('') }}</label> <br/>
        <label id="referencia">({{ expediente.referencia|default('') }})</label> <br/>
            </div>
        <br/><br/><br/>
        
        <label>ESTADO:</label><label> {{ expediente.estado|default('') }}</label><br/>
        <label>EMPRESA:</label><label> {{ expediente.empresa|default('') }}</label><br/>
        <label>ADJUDICATARIO:</label><label> {{ expediente.adjudicatario|default('') }}</label><br/>
        <label>F. DE INICIO:</label><label> {{ expediente.fechaInicio|date("d/m/Y")|default('') }}</label><br/>
        <label>F. DE CIERRE:</label><label> {{ expediente.fechaFin|date("d/m/Y")|default('') }}</label><br/>
        <label>IMPORTE: {{ expediente.importe|number_format(3, ',', '.')|default('') }} €</label><br/>
        
        <br/><br/><br/>
        
        <label class="centrado">DESCRIPCIÓN:</label>
        <label>{{ expediente.descripcion0|default('') }}</label><br/>
        <label>{{ expediente.descripcion1|default('') }}</label><br/>
        <label>{{ expediente.descripcion2|default('') }}</label><br/>

        <br/><br/><br/>

 {% if informatica %}
            <section class="listado_materiales">
                <div class="expedientes_info">Material informático del expediente</div>
                {% for material in informatica %}
                    <table class="tabla_datos_material_informatico">
                         {% if loop.index is even %}
                                <tbody class="fila_par">
                         {% else %}
                                <tbody class="fila_impar">
                         {% endif %}
                                <tr>
                                    <td title="{{ material.tipo }}"><label>Tipo:</label> {{ material.tipo }}</td>
                                    <td title="{{ material.marca}}"><label>Marca:</label> {{material.marca }}</td>
                                    <td title="{{ material.modelo}}"><label>Modelo:</label> {{ material.modelo }}</td>
                                    <td title="{{ material.numserie|default('')}}"><label>N. Serie:</label> {{ material.numserie|default('') }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" title="{{ material.descripcion|default('')}}"><label>Descripción:</label> {{material.descripcion|default('')}}</td>
                                </tr>       
                                <tr>
                                    <td colspan="4" title="{{ material.caracteristicas|default('')}}"><label>Caracteristicas:</label> {{material.caracteristicas|default('')}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" title="{{ material.observaciones|default('')}}"><label>Observaciones:</label> {{material.observaciones|default('')}}</td>
                                </tr>
                                <tr>
                                    <td title="{{ material.destino|default('')}}"><label>Destino:</label> {{material.destino|default('')}}</td>
                                    <td title="{{ material.cantidad|default('')}}"><label>Cantidad:</label> {{material.cantidad|default('')}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        </tbody>
                    </table>
               {% endfor %}

            </section>
        {% endif %}
        </body>
    </html>