{% extends 'ExpedientesBundle:Expediente:expedientes.html.twig' %}
{% form_theme formulario 'AdministracionBundle:Form:errores.html.twig' %}

{% block id 'material_automocion_ver' %}
{% block title %}Modificar el material automoción:{{material.id}}, del expediente {{expediente.referencia}} {% endblock %}

{% block contenido %}
<h2>{{ block('title') }}</h2>
<div class="limpiar"></div>

<form action="{{ path('material_automocion_editar', { 'id': material.id }) }}" method="post" {{form_enctype(formulario)}} class="formulario_registro_usuario">
    {{ form_errors(formulario) }}
        
        <fieldset>
            <legend>Datos del material automoción</legend>
            
            <div>
                {{ form_errors(formulario.descripcion) }}
                {{ form_label(formulario.descripcion)  }}                
                {{ form_widget(formulario.descripcion, { 'attr': { 'class': 'formulario_input_textarea' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.tipo) }}
                {{ form_label(formulario.tipo)  }}                
                {{ form_widget(formulario.tipo, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.marca) }}
                {{ form_label(formulario.marca)  }}                
                {{ form_widget(formulario.marca, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.modelo) }}
                {{ form_label(formulario.modelo)  }}                
                {{ form_widget(formulario.modelo, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.bastidor) }}
                {{ form_label(formulario.bastidor)  }}                
                {{ form_widget(formulario.bastidor, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.concesionario) }}
                {{ form_label(formulario.concesionario)  }}                
                {{ form_widget(formulario.concesionario, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.kit) }}
                {{ form_label(formulario.kit)  }}                
                {{ form_widget(formulario.kit, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.motor) }}
                {{ form_label(formulario.motor)  }}                
                {{ form_widget(formulario.motor, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.color) }}
                {{ form_label(formulario.color)  }}                
                {{ form_widget(formulario.color, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.matricula) }}
                {{ form_label(formulario.matricula)  }}                
                {{ form_widget(formulario.matricula, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.numserie) }}
                {{ form_label(formulario.numserie)  }}                
                {{ form_widget(formulario.numserie, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.destino) }}
                {{ form_label(formulario.destino)  }}                
                {{ form_widget(formulario.destino, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.cantidad) }}
                {{ form_label(formulario.cantidad)  }}                
                {{ form_widget(formulario.cantidad, { 'attr': { 'class': 'formulario_input', 'min':'0', 'max':'500' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.observaciones) }}
                {{ form_label(formulario.observaciones)  }}                
                {{ form_widget(formulario.observaciones, { 'attr': { 'class': 'formulario_input_textarea' } }) }}
            </div>
            {{ form_rest(formulario) }}
            
        </fieldset>
        
        <div class="centrado">
                <button class="boton" type="submit">Guardar cambios</button>
        </div>
</form>
  <div class="contenedor_administrador_acciones">
        <ul class="administrador_acciones">
            <li>
                <input type="button" value="Volver al material" class="boton" onclick="window.location='{{ path('material_indice', { 'id': expediente.id }) }}';"/>                   
            </li>
            <li>
                <form action="{{ path('material_automocion_eliminar', { 'id': material.id }) }}" method="post" class="formulario_oculto" onclick="return confirm('¿Esta seguro que quiere eliminar el material automoción:{{material.id}}, del expediente {{ expediente.referencia }} ?');">
                    {{ form_widget(delete_form_eliminar) }}
                    <button type="submit" class="boton">Eliminar material</button>
                </form>
            </li>                
        </ul>
 </div>

{% endblock contenido %}