{% extends 'ExpedientesBundle:Expediente:expedientes.html.twig' %}
{% form_theme formulario 'AdministracionBundle:Form:errores.html.twig' %}
{% block javascript %}
        <script src="{{ asset('bundles/expedientes/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/expedientes/js/autoNumeric.js') }}" type="text/javascript"></script>
{% endblock %}
{% block id 'material_mobiliario_ver' %}
{% block title %}Modificar el material mobiliario:{{material.id}}, del expediente {{expediente.referencia}} {% endblock %}

{% block contenido %}
<h2>{{ block('title') }}</h2>
<div class="limpiar"></div>

<form action="{{ path('material_mobiliario_editar', { 'id': material.id }) }}" method="post" {{form_enctype(formulario)}} class="formulario_registro_usuario">
    {{ form_errors(formulario) }}
        
        <fieldset>
            <legend><h3>Datos del material mobiliario</h3></legend>
            
            <div>
                {{ form_errors(formulario.descripcion) }}
                {{ form_label(formulario.descripcion)  }}                
                {{ form_widget(formulario.descripcion, { 'attr': { 'class': 'formulario_input_textarea' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.tipo) }}
                {{ form_label(formulario.tipo)  }}                
                {{ form_widget(formulario.tipo, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.marca) }}
                {{ form_label(formulario.marca)  }}                
                {{ form_widget(formulario.marca, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.modelo) }}
                {{ form_label(formulario.modelo)  }}                
                {{ form_widget(formulario.modelo, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.largo) }}
                {{ form_label(formulario.largo)  }}                
                {{ form_widget(formulario.largo, { 'attr': { 'class': 'formulario_input_numero', 'data-a-sep':'.', 'data-a-dec':',', 'data-a-sign':' cm', 'data-p-sign':'s', 'data-v-max':'999.99' } }) }}
            </div>
             <div>
                {{ form_errors(formulario.ancho) }}
                {{ form_label(formulario.ancho)  }}                
                {{ form_widget(formulario.ancho, { 'attr': { 'class': 'formulario_input_numero', 'data-a-sep':'.', 'data-a-dec':',', 'data-a-sign':' cm', 'data-p-sign':'s', 'data-v-max':'999.99' } }) }}
            </div> 
            <div>
                {{ form_errors(formulario.alto) }}
                {{ form_label(formulario.alto)  }}                
                {{ form_widget(formulario.alto, { 'attr': { 'class': 'formulario_input_numero', 'data-a-sep':'.', 'data-a-dec':',', 'data-a-sign':' cm', 'data-p-sign':'s', 'data-v-max':'999.99' } }) }}
            </div>            
            <div>
                {{ form_errors(formulario.numserie) }}
                {{ form_label(formulario.numserie)  }}                
                {{ form_widget(formulario.numserie, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.destino) }}
                {{ form_label(formulario.destino)  }}                
                {{ form_widget(formulario.destino, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.cantidad) }}
                {{ form_label(formulario.cantidad)  }}                
                {{ form_widget(formulario.cantidad, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            <div>
                {{ form_errors(formulario.observaciones) }}
                {{ form_label(formulario.observaciones)  }}                
                {{ form_widget(formulario.observaciones, { 'attr': { 'class': 'formulario_input_textarea' } }) }}
            </div>
            {{ form_rest(formulario) }}
        </fieldset>
        
        <div class="centrado">
                <button class="boton" type="submit">Guardar cambios</button>
        </div>
</form>
  <div class="contenedor_administrador_acciones">
        <ul class="administrador_acciones">
            <li>
                <input type="button" value="Volver al material" class="boton" onclick="window.location='{{ path('material_indice', { 'id': expediente.id }) }}';"/>                   
            </li>
            <li>
                <form action="{{ path('material_mobiliario_eliminar', { 'id': material.id }) }}" method="post" class="formulario_oculto" onclick="return confirm('¿Esta seguro que quiere eliminar el material mobiliario:{{material.id}}, del expediente {{ expediente.referencia }} ?');">
                    {{ form_widget(delete_form_eliminar) }}
                    <button type="submit" class="boton">Eliminar material</button>
                </form>
            </li>                
        </ul>
 </div>

{% endblock contenido %}
    {% block javascripts %}
<script type="text/javascript" language="javascript">
jQuery(function($) {
    $('.formulario_input_numero').autoNumeric('init');
});    
</script>
{% endblock %}