{% extends '::administracion.html.twig' %}
{% form_theme formulario 'AdministracionBundle:Form:errores.html.twig' %}

{% block id 'usuario_editar' %}
{% block title %}Modificar el usuario {{ entity.nombre ~ " " ~ entity.apellidos }} {% endblock %}

{% block contenido %}
<h2>{{ block('title') }}</h2>
<div class="limpiar"></div>

<form action="{{ path('administracion_usuario_actualizar', { 'id': entity.id }) }}" method="post" {{ form_enctype(formulario) }} class="formulario_registro_usuario">
        {{ form_errors(formulario) }}
            
        <fieldset>
            <legend>Datos personales</legend>
            
            <div>
                {{ form_errors(formulario.nombre) }}
                {{ form_label(formulario.nombre, 'Nombre:') }}                
                {{ form_widget(formulario.nombre, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            
            <div>
                {{ form_errors(formulario.apellidos) }}
                {{ form_label(formulario.apellidos, 'Apellidos:') }}
                {{ form_widget(formulario.apellidos, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            
            <div>
                {{ form_errors(formulario.dni) }}
                {{ form_label(formulario.dni, 'DNI:') }}                
                {{ form_widget(formulario.dni, { 'attr': { 'class': 'formulario_input' } }) }}
                <p class="ayuda">Escribe las 8 cifras y la letra sin dejar ningún espacio en blanco</p>
            </div>
            
        </fieldset>    
 <fieldset>
            <legend>Datos de acceso</legend>
            
            <div>
                {{ form_errors(formulario.tip) }}
                {{ form_label(formulario.tip, 'TIP:') }}
                {{ form_widget(formulario.tip, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            
            <div>
                {{ form_errors(formulario.password) }}
                {{ form_label(formulario.password, 'Password:')}}
                {{ form_widget(formulario.password, { 'attr': { 'class': 'formulario_input_password' } }) }}
                <p class="ayuda">Deben de tner un mínimo de 6 carácteres.</p>
            </div>
            
            <div>
                {{ form_errors(formulario.salt) }}
                {{ form_label(formulario.salt, 'Codificación:') }}
                {{ form_widget(formulario.salt, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            
            <div>
                {{ form_errors(formulario.autorizado) }}
                {{ form_label(formulario.autorizado, 'Habilitado:') }}
                {{ form_widget(formulario.autorizado, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            
            <div>
                {{ form_errors(formulario.rol) }}
                {{ form_label(formulario.rol, 'Rol:') }}
                {{ form_widget(formulario.rol, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            
            <div>
                {{ form_errors(formulario.fechaAlta) }}
                {{ form_label(formulario.fechaAlta, 'F. de alta:') }}
                {{ form_widget(formulario.fechaAlta, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>
            
            <div>
                {{ form_errors(formulario.fechaBaja) }}
                {{ form_label(formulario.fechaBaja, 'F. de baja:') }}
                {{ form_widget(formulario.fechaBaja, { 'attr': { 'class': 'formulario_input' } }) }}
            </div>

        </fieldset>
            
        {{ form_rest(formulario) }}
        
            <div class="centrado">
                <button class="boton" type="submit">Guardar cambios</button>
            </div>
</form>

    <div class="contenedor_administrador_acciones">
        <ul class="administrador_acciones">
            <li>
                <input type="button" value="Volver al listado" class="boton" onclick="window.location='{{ path('administracion_usuario') }}';"/>      
            </li>
            <li> 
                <form action="{{ path('administracion_usuario_borrar', { 'id': entity.id }) }}" method="post" class="formulario_oculto" onclick="return confirm('¿Esta seguro que quiere eliminar al usuario {{entity.nombre  ~ " " ~ entity.apellidos}} con tip {{ entity.tip }} ?');">
                    {{ form_widget(delete_form) }}
                    <button type="submit" class="boton">Eliminar usuario</button>
                </form>
            </li>                    
        </ul>
     </div>

{% endblock %}
                    
                    